body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

thead tr {
  background-color: #33aa61;
  font-family: 'Lucida Console', monospace;
  font-size: 18;
  font-weight: bold;
}

#MonthSelectorContainer {
  padding-top: 10em;
}

#CostTable {
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

#CostInput {
  padding-top: 10em;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.right-align {
  text-align: right;
}

.error-login {
  color: red;
  font-size: 16px;
}

.error-validation {
  color: red;
  font-size: 12px;
}

.left-pad td:first-child {
  padding-left: 3em;
}

#month-header {
  font-weight: bold;
  color: #33aa61;
  font-family: 'Lucida Console', monospace;
  font-size: 24px;
  padding-left: 2em;
}

.btn-month {
  text-align: right;
}

.btn-active {
  background-color: #ccc;
}

.category-row {
  background-color: #eee;
}

.category-row th:first-child {
  padding-left: 1em;
}

.category-row .right-align {
  font-weight: bold;
}

.total-display {
  float: right;
  text-align: right;
  padding-bottom: 2em;
}

#icon-delete {
  margin-left: 1.5em;
}

.fa-angle-double-down {
  padding-right: 1em;
  padding-left: 1em;
}

.table-icon {
  color: silver;
  cursor: pointer;
}

#logout-icon {
  cursor: pointer;
  text-decoration: none;
  float: right;
}

#logout-icon i {
  padding-left: .25em;
}
