body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  text-align: center;
}

thead tr {
  background-color: #ccc;
}

.center {
  text-align: center;
}

.error-text {
  color: red;
  font-size: 16px;
}

.left-pad td:first-child {
  padding-left: 3em;
}

.month-header {
  font-weight: bold;
  color: #33aa61;
}

.month-buttons {
  text-align: right;
}

.total-display {
  float: right;
  padding-bottom: 2em;
}